*, html {
  margin: 0%;
  padding: 0%;
 scroll-behavior: smooth;
 
  
}

body {
  background-color: #111;
  overflow-x: hidden;
  
}

nav {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999999999;
}

svg {
  position: relative;
  top: 5rem;
}

.home {
  height: 100vh;
}


.kalimat {
  margin-top: 13rem;
}

.kalimat h1 {
  font-size: 4rem;
}

.kalimat span, h6 {
  color: #8cb0ff;
}

.kalimat a {
  border-radius: 5rem;
}


@media screen and (min-width : 0px) {
  .kalimat {
    padding: 0px 30px;
    margin-top: 2rem;
  }

  .kalimat h1 {
      font-size: 4rem;
  }

  .row svg {
    width: 20rem;
    margin: 5rem 2rem;
  }

}



.ourmember {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

img {
  margin-left: 6rem;
  margin-top: -5rem;
}



.card h1 {
   color: #8cb0ff;
}

.card img  {
  margin: 2rem 1rem;
}

.medsos a {
  text-decoration: none;
   display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: .2rem solid #8cb0ff;
  border-radius: 50%;
  font-size: 2rem;
  color: #8cb0ff;
  transition: .5s ease;
   margin: 1rem 1.5rem 3rem 0;
}

.medsos a:hover {
   background: #8cb0ff;
  color: white;
  box-shadow: 0 0 1rem #8cb0ff;
}


.medsos {
  position: relative;
  left: 0.5rem;
}

.navbar-nav a:hover {
  font-weight: bold;
}

@media  screen and (min-width: 0px) {
  .row svg {
      position: relative;
      top: -2rem;
      width: 20rem;
      
     
    }
}

@media screen and (min-width : 480px) {
  .kalimat {
      padding: 0px 30px;
      top: 10%;
    }
  
    .kalimat h1 {
      font-size: 4rem;
    }
  
    .row svg {
      width: 20rem;
      margin-top: 1rem;
      margin-left: 6rem;
    }

   
}

@media screen and (min-width : 768px) {
  .kalimat {
      margin-left: 3rem ;
    }

        .row svg {
          width: 25rem;
          margin-top: 5rem;
          margin-left: 11rem;
        }

       .halo {
        left: 3rem;
       }
}


 @media screen and (min-width : 1200px) {
   .kalimat {
    position: relative;
      top: 15rem;
   }

  svg {
    position: relative;
    right: -5rem;
  }

     .kalimat h1 {
       font-size: 4.5rem;
     }

         .row svg {
           width: 35rem;
           margin-left: 0.6rem;
           margin-top: 7rem;
         }

                 .card {
                   width: 100%;
                 }
 }

 @media screen and (min-width : 1924px) {
  .kalimat {
      padding: 0rem 4rem;
      top: 25%;
    }
  
    .kalimat h1 {
      font-size: 4.5rem;
    }

        .card {
          width: 100%;
        }
 }